*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #333333;
}

a:hover{
  color: #ee9972;
}

.btn{
  width: 200px;
  height: 60px;
  border-radius: 16px;
  background-color: #f4ce14;
  color: #333333;
}

.btn:hover{
  cursor: pointer;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.8em;
  height: 4.8em;
}

.nav-content{
  display: flex;
  margin-left: 1.8em;
 flex-wrap: wrap;
}

.nav-content li{
  margin-left: 0.9em;
  padding: 0.5em;
}

.Hero{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  background-color: #495e57;
  color: #edefee;
}

.hero-info{
  display: flex;
  flex-direction: column;
  width: 23em;
  margin-top: 4em;
}

.hero-img{
  height: 20em;
  width:23.5em;
  margin: 2em;
}

.hero-info h1{
  color: #b69a0e;
}

.hero-info p {
  margin: 2em 0;
  width: 15em;
}

.hero-info button{
  margin-top: 1.5em;
}

.specials{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

.special-heading{
  display: flex;
}

.special-heading h1{
  margin: 0 5em 2em 0;
}

.card-container{
  display: flex;
  width: 800px;
  height: 439px;
  overflow-y: hidden;
}

.card-content{
  margin: 0.5em 2.3em 0 0;
  background-color: #edefee
}

.card-content:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.card-content img{
  width: 264.67px;
  height: 185.26px;
}

.item-headings{
  display: flex;
  justify-content: space-between;
  margin: 0.85em ;
}

.item-headings h4{
  color: #ee9972;
}

.card-content p{
  line-height: 1.5em;
  margin: 0.8em;
  padding: 0.6em;
}

.testimonials{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #edefee;
}

.testimony-body{
  display: flex;
}

.testimonials-heading{
  margin: 2em;
}

.testimony-content {
  margin: 2em;
  padding: 2em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 12.9em;
  background-color: #ffffff;
  color: #333333;
}

.testimony-details{
  display: flex;
  margin: 2em 0;
}

.testimony-content h3{
  margin: 0.8em;
  color: #b69a0e;
}

.testimony-details img{
  margin: 0 4.5em 0.8em 0;
}

.footer{
  background-color: #495e57;
}

.footer-content{
  display: flex;
  justify-content: center;
  margin: 7em;
  color: #edefee;
}

.footer-nav{
  margin: 0 3em;
}

.footer-contact{
  margin: 0 3em;
}

.form-control{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.input-space{
  position: relative;
  width: 300px;
  margin: 15px;
}

.input-space input{
  width: inherit;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
}

.form-control .btn{
  margin: 15px;
}