*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.btn{
  width: 200px;
  height: 60px;
  border-radius: 16px;
}

.btn:hover{
  cursor: pointer;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.8em;
  height: 4.8em;
}

.nav-content{
  display: flex;
  margin-left: 1.8em;
 flex-wrap: wrap;
}

.nav-content li{
  margin-left: 0.9em;
  padding: 0.5em;
}

.Hero{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  background-color: pink;
}

.hero-info{
  display: flex;
  flex-direction: column;
  width: 23em;
  margin-top: 4em;
}

.hero-img{
  height: 20em;
  width:23.5em;
  margin: 2em;
}

.hero-info p {
  margin: 2em 0;
  width: 15em;
}

.hero-info button{
  margin-top: 1.5em;
}

.specials{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

.special-heading{
  display: flex;
}

.special-heading h1{
  margin: 0 5em 2em 0;
}

.card-container{
  display: flex;
  width: 800px;
  height: 439px;
}

.card-content{
  margin: 0.5em 2.3em 0 0;
}

.card-content img{
  width: 264.67px;
  height: 185.26px;
}

.item-headings{
  display: flex;
  justify-content: space-between;
  margin: 0.85em ;
}

.card-content p{
  line-height: 1.5em;
  margin: 0.8em;
  padding: 0.6em;
}
