*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.8em;
  height: 4.8em;
}

.nav-content{
  display: flex;
  margin-left: 1.8em;
 flex-wrap: wrap;
}

.nav-content li{
  margin-left: 0.9em;
  padding: 0.5em;
}

